<div class="container ">
    <div class="row ">
    <% @pitches.each do |pitch|  %>
      <div class="col-xs-12 col-sm-6 col-md-4">
         <div class="card cards-pp ">
          <div class="card-avatar ">
          <%= image_tag user_avatar(pitch.user), class: "avatar-bordered-large"  %>
          </div>
           <div class="text-center ">
              <h5>     <strong> <%=  pitch.user.first_name  %>
     <%= pitch.user.last_name  %>  </strong> </h5>
            </div>
              <div class="card-content text-cent">

                 <div class="pitch-description">
               <%= pitch.name %>
                  <div >
                  </div>
                  <div>
                    <h5> <%=  pitch.topic %> </h5>
                  </div>
                  <div>
                    <h5> <%=  pitch.duration %> min. | <%=  pitch.created_at.strftime("%b %d, %Y") %></h5>
                  </div>
                  <div class="space text-center">
                    <%= link_to "Details",pitch_path(pitch), class: " btn-outline-primary "  %>
                  </div>
                </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>



