<div class="grid  ">
  <div class="element">
    <% if @pitch.photo.present? %>
        <video width="100%" height="auto" controls="controls" src=<%= cloudinary_url(@pitch.photo.filename.split("/")[1], :resource_type => :video) %> >
        </video>
      <% else %>
      <video width="100%" height="auto" controls="controls">
      </video>
    <% end %>

  </div>

  <div class="cards-h">
    <h5>
      <%= @pitch.user.first_name  %>
      <%= @pitch.user.last_name  %>
    </h5>
  </div>
  <div class="cards-h2 ">
     <h3 class= "text-center"> <%= @pitch.name.capitalize %> </h3>
      <h5><%= @pitch.topic %> </h5>
      <h5><%= @pitch.target %> </h5>
      <h6 class= "transcript"> <%= @pitch.duration %> min. | Made <%=  @pitch.created_at.strftime("%b %d, %Y") %></h6>
     <h5><%= @pitch.transcript %> </h5>
  </div>
