<div class="banner" style="background-image:
linear-gradient(-225deg, rgba(189,194,197,0.4) 0%, rgba(0,36,61,0.4) 50%), url(<%= image_path 'banner.png' %>);">
  <div class="banner-sign-content">
    <h1> Show me what you got</h1>
<div class="container">
 <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-4">
     <div class="pitchcard">
       <h2><strong>Define your pitch</strong></h2>
        <div class="form-group">
          <%= simple_form_for @pitch do |f| %>
           <%= f.error_notification %>
          <div class="form-row">
             <div class="col-md-12">
                 <%= f.input :name,
                  label: false,
                  required: true,
                  autofocus: true ,
                  placeholder: "Every great pitch needs a name!" %>
               </div>
              <div class="col-md-12">
                  <%= f.input :topic,
                    label: false,
                    required: true,
                    placeholder: "Topic" %>
                </div>
              <div class="col-md-12">
                 <%= f.input :duration,
                  label: false,
                  required: true,
                  placeholder: "How long is your pitch, in minutes" %>
               </div>
              <div class="col-md-12">
                  <%= f.input :target,
                  label: false,
                  required: true,
                  placeholder: "Who is your target audience?" %>
               </div>
             <div class="col-md-12">
                <%= f.input :transcript,
                  label: false,
as: :text,
                  required: true,
                  placeholder: "Copy & paste your pitch, here.",
                  :input_html => { 'rows' => 4, 'cols' => 10 } %>
              </div>
                <div class="form-actions">
              <%= f.button :submit, "Create a pitch", class: "btn-primary" %>
            </div>
           </div>
         </div>
        <% end %>
        </div>
      </div>
  </div>
</div>





    </div>
</div>





