<div class="container">
      <div class="profile text-center">
        <div class="main">
          <div class="main-content">
            <%=  image_tag user_avatar(current_user), class: "avatar-bordered-large center-block" %>
            <h2><%= @pitch.user.first_name %></h2>
            <h2><%= @pitch.user.last_name %></h2>
            <p><%= @pitch.user.email %> </p>
          </div>
        </div>
        <div class="stat">
          <div class="stat-content">
            <h3>3,536</h3>
            <p>contributions</p>
          </div>
        </div>
        <div class="stat">
          <div class="stat-content">
            <h3>758</h3>
            <p>followers</p>
          </div>
          </div>
        <div class="stat">
          <div class="stat-content">
            <h3>119</h3>
            <p>repositories</p>
          </div>
          </div>
        <div class="description">
          <div class="description-content">
            <h3></h3>
            <p class="text-justify">
              <%= link_to 'Delete pitch', pitch_path(@pitch), method: :delete %>
              <%= link_to 'Edit your pitch',  edit_pitch_path(@pitch)%>
            </p>
          </div>
        </div>
      </div>
      <div class="description">
          <div class="description-content">
            <h3>More about Sebastien</h3>
            <p class="text-justify">
              I am a full-stack developer with 9 years of experience working in startups. Scratching your own itch? Working on a startup project? Lots of ideas but frustrated that you can't code them? Confused with agencies' or freelances' quotes? No clue when a developer is talking? Time to learn to code with Le Wagon with a 9-week intensive and immersive bootcamp!
            </p>
          </div>
    </div>

<h2><strong>Feedback</strong></h2>
<% if @pitch.feedbacks.any? %>
  <div class="text-center">
    <% @pitch.feedbacks.each do |p| %>
    <div class="sub-entry" >
      <h4>Rating</h4>
        <div class="left">
          <h5> <strong>Value</strong>
            <div class="text-center">
              <% p.value.times do %>
              <i class="fa fa-star"></i>
              <% end %>
            </div>
          </h5>
        </div>

        <div class="left">
          <h5> <strong>Quality</strong>
            <div class="text-center">
              <% p.quality.times do %>
              <i class="fa fa-star"></i>
              <% end %>
            </div>
         </h5>
        </div>

        <div class="left">
        <h5> <strong>Clarity</strong>
          <div class="text-center">
            <% p.clarity.times do %>
            <i class="fa fa-star"></i>
            <% end %>
          </div>
        </h5>
        </div>

        <div class="left">
        <h5> <strong>Pace</strong>
          <div class="text-center">
            <% p.pace.times do %>
            <i class="fa fa-star"></i>
            <% end %>
          </div>
        </h5>
        </div>

        <div class="left">
          <h5> <strong>Body Language</strong>
            <div class="text-center">
              <% p.body_language.times do %>
              <i class="fa fa-star"></i>
              <% end %>
            </div>
          </h5>
        </div>

        <div class="left">
          <h5> <strong>Language</strong>
            <div class="text-center">
              <% p.language.times do %>
              <i class="fa fa-star"></i>
              <% end %>
            </div>
          </h5>
        </div>
    </div>

<div class="sub-entry">
  <h4>Comments</h4>
    <div >
      <h5>
        <div class="left">
         <%= p.value_comment%>
        </div>
      </h5>
    </div>

    <div >
      <h5>
        <div class="left">
         <%= p.quality_comment%>
        </div>
      </h5>
    </div>

    <div >
      <h5>
        <div class="left">
         <%= p.clarity_comment%>
        </div>
      </h5>
    </div>

    <div >
      <h5>
        <div class="left">
         <%= p.pace_comment%>
        </div>
      </h5>
    </div>

    <div >
      <h5>
        <div class="left">
         <%= p.body_language_comment%>
        </div>
      </h5>
    </div>

    <div >
      <h5>
        <div class="left">
         <%= p.language_comment%>
        </div>
      </h5>
    </div>

  </div>
<div >
  <h4>Additional feedback</h4>
  <div class="left">
  <%= p.comment %>
  </div>
</div>
<%= link_to "Add Feedback",new_pitch_feedback_path(@pitch), class: "btn btn-danger btn-lg"%>
     </div>
<%= link_to 'Edit',    edit_feedback_path(p)  %>
<%= link_to 'Delete', feedback_path(p), method: :delete %>
    <% end %>
  </div>

<% else %>
    <div class="text-center">
      <h3>
        There is no feedbacks for this pitch. Be the first to review it!
      </h3>
    <div>
      <%= link_to "Add Feedback",new_pitch_feedback_path(@pitch), class: "btn btn-danger btn-lg"%>
     </div>
  </div>
<% end %>

