<div class="container">
  <%= render 'pitches/video_description' %>
    <div class= "right">
         <%= link_to 'Edit',    edit_pitch_path(@pitch)  %>
        <%= link_to 'Delete', @pitch_path, method: :delete %>
    </div>
  <% if @pitch.feedbacks.any? %>
    <%= render 'pitches/feedback_present' %>
  <% else %>
        <%= render 'pitches/no_feedback' %>
  <% end %>
</div>
