<div class="banner">
  <div class="banner-content">
    <video width="800" height="600" controls="controls">
    </video>
  </div>
  <div class="flex-button" style="display: flex; flex-direction: column;">
    <marquee  scrollamount="1.3" behavior="scroll" direction="up" style="height:250px;width: 400px"><%= @pitch.transcript %></marquee>
      <div>
        <%= link_to 'Submit',  pitches_path , class: "btn btn-outline-warning btn-rounded waves-effect"%>
        <%= link_to 'Replay',  pitches_path , class: "btn btn-outline-warning btn-rounded waves-effect"%>
      </div>
      <div>
        <%= link_to 'Reload',  pitches_path , class: "btn btn-outline-warning btn-rounded waves-effect"%>
        <%= link_to 'Save',  pitches_path , class: "btn btn-outline-warning btn-rounded waves-effect"%>
      </div>
  </div>
</div>
</div>















