<div class="banner" style="background-image:
linear-gradient(-225deg, rgba(189,194,197,0.4) 0%, rgba(0,36,61,0.4) 50%), url(<%= image_path 'banner.png' %>);">
  <div class="banner-content">
    <video width="800" height="600" controls="controls">
    </video>
  </div>
  <div class="flex-button" style="display: flex; flex-direction: column;">
  <marquee  scrollamount="1.3" behavior="scroll" direction="up" style="height:20px;width: 400px"><%= @pitch.transcript %></marquee>
  <div>
  <%= link_to 'Submit',  pitches_path , class: "btn btn-primary"%>
  <%= link_to 'Replay',  pitches_path , class: "btn btn-primary"%>
  <%= link_to 'Reload',  pitches_path , class: "btn btn-primary"%>
  <%= link_to 'Save',  pitches_path , class: "btn btn-primary"%>
</div>
</div>

</div>















