<div class="container">
    <div class="card card1">
      <div class="card-content">
           <%= image_tag user_avatar(current_user), class: "avatar-bordered-large justify-center" %>
         <h2 class= "text-center"> Make your profile <%= "#{current_user.email}" %> </h2>
      </div>
<!--
        <%= simple_form_for @user, url: dashboard_path, method: :patch do |f| %>
       <!--  <%= f.input :first_name %>
        <%= f.input :last_name  %>
        <%= f.input :description %> -->
        <%= f.input :photo %>
       <%= f.input :photo_cache, as: :hidden %> -->
           <div>
            <%= f.button :submit, class: "btn  btn-danger center-block" %>
           </div>
    <% end %>
  </div>
</div>
