<div class="profilecard  " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=asset_path 'banner.png'%>)">
     <div class="avatar">
      <%= image_tag user_avatar(current_user), class: "avatar-bordered-large " %>
      <div class="principale">
        <h2><%= @user.first_name %> Gabriel Zerbib <%= @user.last_name   %></h2>
        <h3> Pitch Expert</h3>
        <h3  > Voir desciption</h3> <%= @user.description %>
        <h3> <%= link_to "Edit your profile" , edit_user_registration_path%> </h3>
     </div>
    </div>
 <div class="tabs">
          <a class="tab active" href="#">
            <h3>350</h3>
            <p>Upvoted</p>
          </a>
          <a class="tab" href="#">
            <h3>456</h3>
            <p>Submitted</p>
          </a>
          <a class="tab" href="#">
            <h3>189</h3>
            <p>Followers</p>
          </a>
          <a class="tab" href="#">
            <h3>13</h3>
            <p>Following</p>
          </a>
        </div>

    </div>

    </div>
  </div>











