<div class="profilecard  " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=asset_path 'banner.png'%>)">
  <div class="avatar">
    <%= image_tag user_avatar(current_user), class: "avatar-bordered-large " %>
    <div class="principale">
      <h2><%= @user.first_name %> <%= @user.last_name   %></h2>
      <h3> Pitch Expert</h3>
      <h3> <%= link_to "Edit your profile" , edit_user_registration_path%> </h3>
    </div>
  </div>
  <div class="tabs">
    <a class="tab active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="profile" aria-selected="false" >
      <div class="col col-xs-12 col-sm-4">
        <h3>Description</h3>
      </div>
    </a>
    <a class="tab "  id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
      <div class="col col-xs-12 col-sm-12">
        <h3>15</h3>
        <p>My Pitch</p>
      </div>
    </a>
    <a class="tab" href="#">
      <div class="col col-xs-12 col-sm-12">
        <h3>456</h3>
        <p>Feedbacks </p>
      </div>
    </a>
    <a class="tab" href="#">
      <div class="col col-xs-12 col-sm-12">
        <h3>13</h3>
        <p>Following</p>
      </div>
    </a>
  </div>
</div>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade  " id="home" role="tabpanel" aria-labelledby="home-tab"><% @pitchs.each do |pitch| %>
      <div class="container">
        <div class="product">
          <div class="product-upvote">
            <div class="product-arrow"></div>
            <div class="product-count">55</div>
          </div>
          <img src="images/roadstr.jpg" alt="" class="product-image">
          <div class="product-body">
            <h3><%= pitch.name %></h3>
            <p><%= pitch.topic %></p>
          </div>
          <ul class="list-inline product-controls">
            <li><a href=""><i class="fa fa-heart"></i></a></li>
            <li><a href=""><i class="fa fa-share"></i></a></li>
            <li><a href=""><i class="fa fa-star"></i></a></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <div class="tab-pane fade " id="description" role="tabpanel" aria-labelledby="description-tab">
    <div class="profilecard2 ">
      <h1> <%= @user.description%></h1>
    </div>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>
</div>