<div class="profilecard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=asset_path 'card.png'%>)">
     <div class="avatar">



      <%= image_tag user_avatar(current_user), class: "avatar-bordered-large " %>
      <div class="principale">
        <h2><%= @user.first_name %> <%= @user.last_name   %></h2>
        <h3> Pitch Expert</h3>
        <h3 > <strong>Your desciption:</strong></h3> <%= @user.description %>
        <h3> <%= link_to "Edit your profile" , edit_user_registration_path%> </h3>
     </div>
    </div>
    <div class="pins">
      <p> Pitches </p>
      <p> Feedbacks </p>
      <p>Followers</p>
      <p>Following</p>
    </div>
  </div>







<div class="tabs">
      <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">My pitches</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Favorite</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>



   <div class="profilecard2 card2">
    <h1> My Pitches </h1>
    <div class="row">
   </div>
  </div>
   </div>

</div>
