<div class="container">
  <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-4">
     <div class="logincard">
       <h2><strong>Log In</strong></h2>
        <div class="form-group">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <div class="form-row">
               <div class="col-md-12">
                 <%= f.input :email,
                            label: false,
                            required: false,
                            autofocus: true,
                            placeholder: "Email",
                            input_html: { autocomplete: "email" } %>
                </div>


              <div class="col-md-12">
                <%= f.input :password,
                            label: false,
                            placeholder: "Password",
                            required: false,
                            input_html: { autocomplete: "current-password" } %>
                <%= f.input :remember_me, label_html: { id: "remember"}, as: :boolean if devise_mapping.rememberable?  %>
              </div>
            </div>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in",  class: "btn-primary"  %>
          </div>
      <% end %>
    </div>
  </div>
</div>

