<div class="container">
  <div class="col-xs-12 col-sm-6 col-md-offset-4 col-md-4">
    <div class="card card1">
       <div class="text-center">
       </div>
        <%= simple_form_for [@pitch, @feedback] do |f| %>
        <%= f.input :value %>
        <%= f.input :value_comment,placeholder: 'Did you feel it was useful?' %>
        <%= f.input :quality %>
        <%= f.input :quality_comment,placeholder: 'Was the pitch well given?' %>
        <%= f.input :clarity %>
        <%= f.input :clarity_comment,placeholder: 'Did you understood the pitch?' %>
        <%= f.input :pace %>
        <%= f.input :pace_comment,placeholder: 'Was the speed of the pitch adequate?' %>
        <%= f.input :body_language %>
        <%= f.input :body_language_comment,placeholder: 'How effective was it?' %>
        <%= f.input :language %>
        <%= f.input :language_comment,placeholder: 'Was the language used appropiate?' %>
         <%= f.input :comment,placeholder: 'Do you have an additional feedback?' %>
        <%= f.button :submit, class: "btn btn-danger align-middle " %>
        <% end %>
    </div>
  </div>
</div>

