<div class="text-center">
   <h2>Make you feedback even wiser!</h2>
</div>
<div class="container">
  <div class="col-xs-12 col-sm-6 col-md-offset-4 col-md-4">
    <div class="card card1">
       <div class="text-center">
       </div>
        <%= simple_form_for @feedback do |f| %>

    <div class="">
        <%= f.input :value, options_for_select("1-Needs a lot of impovement", "2-" ,"3- Good (could improve)", "4-Great but something is missing", "5-It is excellent" ]) %>
        <%= f.input :quality %>
        <%= f.input :clarity %>
        <%= f.input :pace %>
        <%= f.input :body_language %>
        <%= f.input :language %>
    </div>
    <div class="">
        <%= f.input :value_comment,placeholder: 'Did you feel it was useful?' %>
        <%= f.input :quality_comment,placeholder: 'Was the pitch well given?' %>
        <%= f.input :clarity_comment,placeholder: 'Did you understood the pitch?' %>
        <%= f.input :pace_comment,placeholder: 'Was the speed of the pitch adequate?' %>
        <%= f.input :body_language_comment,placeholder: 'How effective was it?' %>
        <%= f.input :language_comment,placeholder: 'Was the language used appropiate?' %>
         <%= f.input :comment,placeholder: 'Do you have an additional feedback?' %>
         </div>
        <%= f.button :submit, class: "btn btn-danger align-middle " %>
        <% end %>
    </div>
  </div>
</div>


